<div class="card">
  <h5 class="card-header">Home</h5>
  <div class="card-body">
    <h5 class="card-title">this is dsCrowdy</h5>
    <p class="card-text">May ogout if you need need to...</p>
    <a href="users/register" class="btn btn-primary">Logout</a>
  </div>
</div>
