<form method="post" class="container border mt-4">
  <h2 class="px-3 mb-3">Login</h2>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"
      >Email address</label
    >
    <input
      type="email"
      class="form-control"
      name="email"
      id="exampleFormControlInput1"
      placeholder="name@example.com"
    />
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Password</label>
    <input type="password" class="form-control" name="password
    id="exampleFormControlInput1" placeholder="password" />
  </div>
  <button type="submit" class="btn btn-primary mb-3">Login</button>
  <div class="mb3">
    <p>Don't have an account? <a href="register">Log-in</a></p>
  </div>
</form>
